.navbar {
    display: flex;
    background-color: rgb(20, 233, 233);
    height: 5rem;
  }
  
  .navbar > * {
    margin-right: 10px;
  }
  
  .contactListElement {
    padding: 5px;
    border-top: 1px solid lightgrey;
  }
  
  .contactListElement:hover {
    background-color: lightyellow;
    color: red;
  }
  
  .contactListView {
    display: flex;
  }
  
  .contactList {
    width: 25%;
    border-right: 1px solid lightgrey;
  }