.panelArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid;
    border-width: 0px 0px 2px 0px;
    border-color: #bebebe;
    margin-bottom: 10px;
    width: 20vw;
    background-color: #eeeeee;
    margin-left: 5px;
    margin-right: 15px;
    margin-top: 5px;
}

.panelTitle {
    color:#000000;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    border-bottom: solid;
    border-color: #bebebe;
    background-color:rgb(255, 255, 255);
}

.tileSubtext1 {
    color: #797979;
    font-size: 12px;
    margin: 3px 0px 5px 0px;
}

.tileSubtext2_ok {
    margin: 5px 0px 5px 0px;
    font-size: 12px;
    color: green;
}

.tileSubtext2_no {
    margin: 5px 0px 5px 0px;
    font-size: 12px;
    color: red;
}

.tileImageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: dashed;
    border-bottom-width: 2px;
    border-color: #bebebe;
}

.tileImage {
    display: block;
    max-width: 18vw;
    max-height: 18vh;
    margin-bottom: 5px;
}